--
-- PostgreSQL database dump
--

\restrict EURgyuyQt1uIbTDjkoCX0o6hJrL48BezrloDxpjaJqgWST9cTLh5sdI5KpFyQLm

-- Dumped from database version 17.6 (Debian 17.6-2.pgdg13+1)
-- Dumped by pg_dump version 17.6 (Debian 17.6-2.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: fricton
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO fricton;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: reward_rules; Type: TABLE; Schema: public; Owner: fricton
--

CREATE TABLE public.reward_rules (
    id integer NOT NULL,
    tenant_id character varying(32) NOT NULL,
    threshold integer NOT NULL,
    label character varying(255) NOT NULL,
    icon text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.reward_rules OWNER TO fricton;

--
-- Name: TABLE reward_rules; Type: COMMENT; Schema: public; Owner: fricton
--

COMMENT ON TABLE public.reward_rules IS 'Reward thresholds per tenant.';


--
-- Name: reward_rules_id_seq; Type: SEQUENCE; Schema: public; Owner: fricton
--

CREATE SEQUENCE public.reward_rules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reward_rules_id_seq OWNER TO fricton;

--
-- Name: reward_rules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fricton
--

ALTER SEQUENCE public.reward_rules_id_seq OWNED BY public.reward_rules.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: fricton
--

CREATE TABLE public.sessions (
    id integer NOT NULL,
    user_id integer,
    token text NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.sessions OWNER TO fricton;

--
-- Name: TABLE sessions; Type: COMMENT; Schema: public; Owner: fricton
--

COMMENT ON TABLE public.sessions IS 'Persisted authentication sessions.';


--
-- Name: sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: fricton
--

CREATE SEQUENCE public.sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sessions_id_seq OWNER TO fricton;

--
-- Name: sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fricton
--

ALTER SEQUENCE public.sessions_id_seq OWNED BY public.sessions.id;


--
-- Name: stores; Type: TABLE; Schema: public; Owner: fricton
--

CREATE TABLE public.stores (
    id integer NOT NULL,
    tenant_id character varying(32) NOT NULL,
    store_id character varying(64) NOT NULL,
    name character varying(255) NOT NULL,
    lat double precision NOT NULL,
    lng double precision NOT NULL,
    description text,
    image_url text,
    stamp_mark character varying(32),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.stores OWNER TO fricton;

--
-- Name: TABLE stores; Type: COMMENT; Schema: public; Owner: fricton
--

COMMENT ON TABLE public.stores IS 'Storefront location master data.';


--
-- Name: stores_id_seq; Type: SEQUENCE; Schema: public; Owner: fricton
--

CREATE SEQUENCE public.stores_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stores_id_seq OWNER TO fricton;

--
-- Name: stores_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fricton
--

ALTER SEQUENCE public.stores_id_seq OWNED BY public.stores.id;


--
-- Name: tenants; Type: TABLE; Schema: public; Owner: fricton
--

CREATE TABLE public.tenants (
    id integer NOT NULL,
    tenant_id character varying(32) NOT NULL,
    company_name character varying(255) NOT NULL,
    business_type character varying(50),
    admin_name character varying(100),
    admin_email character varying(255),
    admin_phone character varying(20),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    config jsonb DEFAULT '{}'::jsonb,
    admin_password_hash character varying(255),
    admin_password_must_change boolean DEFAULT false
);


ALTER TABLE public.tenants OWNER TO fricton;

--
-- Name: TABLE tenants; Type: COMMENT; Schema: public; Owner: fricton
--

COMMENT ON TABLE public.tenants IS 'Tenant master containing organization level configuration.';


--
-- Name: tenants_id_seq; Type: SEQUENCE; Schema: public; Owner: fricton
--

CREATE SEQUENCE public.tenants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tenants_id_seq OWNER TO fricton;

--
-- Name: tenants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fricton
--

ALTER SEQUENCE public.tenants_id_seq OWNED BY public.tenants.id;


--
-- Name: user_coupons; Type: TABLE; Schema: public; Owner: fricton
--

CREATE TABLE public.user_coupons (
    id integer NOT NULL,
    user_id integer NOT NULL,
    tenant_id character varying(32) NOT NULL,
    coupon_id character varying(128) NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    used boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    expires_at timestamp without time zone
);


ALTER TABLE public.user_coupons OWNER TO fricton;

--
-- Name: TABLE user_coupons; Type: COMMENT; Schema: public; Owner: fricton
--

COMMENT ON TABLE public.user_coupons IS 'Issued coupons per user.';


--
-- Name: user_coupons_id_seq; Type: SEQUENCE; Schema: public; Owner: fricton
--

CREATE SEQUENCE public.user_coupons_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_coupons_id_seq OWNER TO fricton;

--
-- Name: user_coupons_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fricton
--

ALTER SEQUENCE public.user_coupons_id_seq OWNED BY public.user_coupons.id;


--
-- Name: user_progress; Type: TABLE; Schema: public; Owner: fricton
--

CREATE TABLE public.user_progress (
    user_id integer NOT NULL,
    tenant_id character varying(32) NOT NULL,
    stamps integer DEFAULT 0,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_progress OWNER TO fricton;

--
-- Name: TABLE user_progress; Type: COMMENT; Schema: public; Owner: fricton
--

COMMENT ON TABLE public.user_progress IS 'Aggregate stamp counters per user.';


--
-- Name: user_store_stamps; Type: TABLE; Schema: public; Owner: fricton
--

CREATE TABLE public.user_store_stamps (
    id integer NOT NULL,
    user_id integer NOT NULL,
    tenant_id character varying(32) NOT NULL,
    store_id character varying(64) NOT NULL,
    stamped_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_store_stamps OWNER TO fricton;

--
-- Name: TABLE user_store_stamps; Type: COMMENT; Schema: public; Owner: fricton
--

COMMENT ON TABLE public.user_store_stamps IS 'Store visit history per user.';


--
-- Name: user_store_stamps_id_seq; Type: SEQUENCE; Schema: public; Owner: fricton
--

CREATE SEQUENCE public.user_store_stamps_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_store_stamps_id_seq OWNER TO fricton;

--
-- Name: user_store_stamps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fricton
--

ALTER SEQUENCE public.user_store_stamps_id_seq OWNED BY public.user_store_stamps.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: fricton
--

CREATE TABLE public.users (
    id integer NOT NULL,
    tenant_id character varying(32),
    username character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(50) DEFAULT 'user'::character varying,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    gender character varying(10),
    age integer,
    CONSTRAINT users_age_check CHECK (((age >= 0) AND (age <= 120)))
);


ALTER TABLE public.users OWNER TO fricton;

--
-- Name: TABLE users; Type: COMMENT; Schema: public; Owner: fricton
--

COMMENT ON TABLE public.users IS 'End user accounts scoped per tenant.';


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: fricton
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO fricton;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fricton
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: reward_rules id; Type: DEFAULT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.reward_rules ALTER COLUMN id SET DEFAULT nextval('public.reward_rules_id_seq'::regclass);


--
-- Name: sessions id; Type: DEFAULT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.sessions ALTER COLUMN id SET DEFAULT nextval('public.sessions_id_seq'::regclass);


--
-- Name: stores id; Type: DEFAULT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.stores ALTER COLUMN id SET DEFAULT nextval('public.stores_id_seq'::regclass);


--
-- Name: tenants id; Type: DEFAULT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.tenants ALTER COLUMN id SET DEFAULT nextval('public.tenants_id_seq'::regclass);


--
-- Name: user_coupons id; Type: DEFAULT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.user_coupons ALTER COLUMN id SET DEFAULT nextval('public.user_coupons_id_seq'::regclass);


--
-- Name: user_store_stamps id; Type: DEFAULT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.user_store_stamps ALTER COLUMN id SET DEFAULT nextval('public.user_store_stamps_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: reward_rules; Type: TABLE DATA; Schema: public; Owner: fricton
--



--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: fricton
--

COPY public.sessions (id, user_id, token, expires_at, created_at) FROM stdin;
\.


--
-- Data for Name: stores; Type: TABLE DATA; Schema: public; Owner: fricton
--



--
-- Data for Name: tenants; Type: TABLE DATA; Schema: public; Owner: fricton
--



--
-- Data for Name: user_coupons; Type: TABLE DATA; Schema: public; Owner: fricton
--



--
-- Data for Name: user_progress; Type: TABLE DATA; Schema: public; Owner: fricton
--



--
-- Data for Name: user_store_stamps; Type: TABLE DATA; Schema: public; Owner: fricton
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: fricton
--



--
-- Name: reward_rules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fricton
--

SELECT pg_catalog.setval('public.reward_rules_id_seq', 17, true);


--
-- Name: sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fricton
--

SELECT pg_catalog.setval('public.sessions_id_seq', 1, false);


--
-- Name: stores_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fricton
--

SELECT pg_catalog.setval('public.stores_id_seq', 40, true);


--
-- Name: tenants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fricton
--

SELECT pg_catalog.setval('public.tenants_id_seq', 5, true);


--
-- Name: user_coupons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fricton
--

SELECT pg_catalog.setval('public.user_coupons_id_seq', 10, true);


--
-- Name: user_store_stamps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fricton
--

SELECT pg_catalog.setval('public.user_store_stamps_id_seq', 32, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fricton
--

SELECT pg_catalog.setval('public.users_id_seq', 15, true);


--
-- Name: reward_rules reward_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.reward_rules
    ADD CONSTRAINT reward_rules_pkey PRIMARY KEY (id);


--
-- Name: reward_rules reward_rules_tenant_id_threshold_key; Type: CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.reward_rules
    ADD CONSTRAINT reward_rules_tenant_id_threshold_key UNIQUE (tenant_id, threshold);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: stores stores_pkey; Type: CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_pkey PRIMARY KEY (id);


--
-- Name: stores stores_tenant_id_store_id_key; Type: CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_tenant_id_store_id_key UNIQUE (tenant_id, store_id);


--
-- Name: tenants tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_pkey PRIMARY KEY (id);


--
-- Name: tenants tenants_tenant_id_key; Type: CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_tenant_id_key UNIQUE (tenant_id);


--
-- Name: user_coupons user_coupons_pkey; Type: CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.user_coupons
    ADD CONSTRAINT user_coupons_pkey PRIMARY KEY (id);


--
-- Name: user_coupons user_coupons_user_id_coupon_id_key; Type: CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.user_coupons
    ADD CONSTRAINT user_coupons_user_id_coupon_id_key UNIQUE (user_id, coupon_id);


--
-- Name: user_progress user_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.user_progress
    ADD CONSTRAINT user_progress_pkey PRIMARY KEY (user_id);


--
-- Name: user_store_stamps user_store_stamps_pkey; Type: CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.user_store_stamps
    ADD CONSTRAINT user_store_stamps_pkey PRIMARY KEY (id);


--
-- Name: user_store_stamps user_store_stamps_user_id_store_id_key; Type: CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.user_store_stamps
    ADD CONSTRAINT user_store_stamps_user_id_store_id_key UNIQUE (user_id, store_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_reward_rules_tenant; Type: INDEX; Schema: public; Owner: fricton
--

CREATE INDEX idx_reward_rules_tenant ON public.reward_rules USING btree (tenant_id);


--
-- Name: idx_sessions_token; Type: INDEX; Schema: public; Owner: fricton
--

CREATE INDEX idx_sessions_token ON public.sessions USING btree (token);


--
-- Name: idx_sessions_user_id; Type: INDEX; Schema: public; Owner: fricton
--

CREATE INDEX idx_sessions_user_id ON public.sessions USING btree (user_id);


--
-- Name: idx_stores_tenant; Type: INDEX; Schema: public; Owner: fricton
--

CREATE INDEX idx_stores_tenant ON public.stores USING btree (tenant_id);


--
-- Name: idx_user_coupons_user_id; Type: INDEX; Schema: public; Owner: fricton
--

CREATE INDEX idx_user_coupons_user_id ON public.user_coupons USING btree (user_id);


--
-- Name: idx_user_store_stamps_user; Type: INDEX; Schema: public; Owner: fricton
--

CREATE INDEX idx_user_store_stamps_user ON public.user_store_stamps USING btree (user_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: fricton
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_tenant_id; Type: INDEX; Schema: public; Owner: fricton
--

CREATE INDEX idx_users_tenant_id ON public.users USING btree (tenant_id);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: fricton
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: reward_rules update_reward_rules_updated_at; Type: TRIGGER; Schema: public; Owner: fricton
--

CREATE TRIGGER update_reward_rules_updated_at BEFORE UPDATE ON public.reward_rules FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: stores update_stores_updated_at; Type: TRIGGER; Schema: public; Owner: fricton
--

CREATE TRIGGER update_stores_updated_at BEFORE UPDATE ON public.stores FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: tenants update_tenants_updated_at; Type: TRIGGER; Schema: public; Owner: fricton
--

CREATE TRIGGER update_tenants_updated_at BEFORE UPDATE ON public.tenants FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: user_coupons update_user_coupons_updated_at; Type: TRIGGER; Schema: public; Owner: fricton
--

CREATE TRIGGER update_user_coupons_updated_at BEFORE UPDATE ON public.user_coupons FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: user_progress update_user_progress_updated_at; Type: TRIGGER; Schema: public; Owner: fricton
--

CREATE TRIGGER update_user_progress_updated_at BEFORE UPDATE ON public.user_progress FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: fricton
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: reward_rules reward_rules_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.reward_rules
    ADD CONSTRAINT reward_rules_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id) ON DELETE CASCADE;


--
-- Name: sessions sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: stores stores_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id) ON DELETE CASCADE;


--
-- Name: user_coupons user_coupons_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.user_coupons
    ADD CONSTRAINT user_coupons_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id) ON DELETE CASCADE;


--
-- Name: user_coupons user_coupons_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.user_coupons
    ADD CONSTRAINT user_coupons_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_progress user_progress_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.user_progress
    ADD CONSTRAINT user_progress_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id) ON DELETE CASCADE;


--
-- Name: user_progress user_progress_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.user_progress
    ADD CONSTRAINT user_progress_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_store_stamps user_store_stamps_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.user_store_stamps
    ADD CONSTRAINT user_store_stamps_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id) ON DELETE CASCADE;


--
-- Name: user_store_stamps user_store_stamps_tenant_id_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.user_store_stamps
    ADD CONSTRAINT user_store_stamps_tenant_id_store_id_fkey FOREIGN KEY (tenant_id, store_id) REFERENCES public.stores(tenant_id, store_id) ON DELETE CASCADE;


--
-- Name: user_store_stamps user_store_stamps_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.user_store_stamps
    ADD CONSTRAINT user_store_stamps_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fricton
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(tenant_id);


--
-- PostgreSQL database dump complete
--

\unrestrict EURgyuyQt1uIbTDjkoCX0o6hJrL48BezrloDxpjaJqgWST9cTLh5sdI5KpFyQLm

